

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .basketHead{


    width: 100%;
    height: 70px;
    background-color: #1E2C4E;
   

   
    .navItem{
        justify-content: flex-end;
    }
    form{display: flex;
        justify-content: flex-end;
        align-items: center;
       
    }
}

#formSec {
    .container {
        display: flex;
        justify-content: center;

        form {
            width: 50%;

            p {
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                margin: 20px 0;
            }
        }
    }
}

#formDisplay {
    .container {
        #display {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;

            .box {
                width: 250px;
                height: 200px;
                padding: 25px;
                box-shadow: 0 1px 10px rgb(0, 0, 0.2);

                span {
                    font-weight: 500;
                    font-size: 18px;
                }

                button {
                    color: #fff;
                    background-color: red;
                    transition: 1s;
                    padding: 10px;
                    border-radius: 20px;
                    border: 1px solid red;
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: #fff;
                        color: red;
                    }
                }
            }
        }
    }
}